/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2014, 7:30:39 PM
    Author     : NIVE
*/

*
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html
{
   font-size: 19px;
}


@media screen and (max-width: 730px) {
  html {
    font-size: 13px;
  }
}

body
{
     font-family: Book Antiqua;
     margin: auto;
}

.centre
{
     margin: 0 auto;
     max-width: 1020px;
}

.header
{
    position: fixed;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-size: 0.842rem;
}

.intro 
{
    max-width: 100%;
    width: auto;
    height: auto ;
    position: relative;
    top: -80px;
    top:-5rem;
    z-index: -1;
}

.list
{
   float: right;
   padding-top: 0px;
   max-width: 50%;   
}

.list ul li
{
    display: inline;
    padding-right: 40px;
    padding-right: 2.10526rem;
}

.list a 
{ 
    text-decoration: none; 
    display: inline-block; 
    color: #CE6343;
    
}

.list a:after 
{
    content: '';
    display: block;
    border-bottom: 1px solid #CE6343;
    width: 0;
    -webkit-transition: 1s ease;
            transition: 1s ease;
}

.list a:hover:after 
{
    width: 100%; 
}

.title
{
    position: relative;
    float: left;
    font-size: 27px;
    font-size: 1.42rem;
    padding-top:  25px;
    padding-top: 1.31578rem;
    padding-left: 3.43137255%;
    color: #CE6343;
    max-width: 40%;
}

.title span
{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    font-size: 1.57894rem;
}
.box 
{
    font-weight: 400;
    margin: auto;
    display: block;
    border: 1px solid black;
    text-align: center;
    width: 13.7254902%;
    min-width: 150px;
    font-size: 17px;
    font-size: 0.89473rem;
     -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
    
}

.home,.profile,.contact 
{
    width: 78.43137255%;
    text-align: justify;
    margin: auto;
    padding: 40px 3.92156863%;
    padding: 2.105263rem 3.92156863%;
    padding-bottom: 100px;
    padding-bottom: 5.263rem;
    //font-size: 19px;
    //font-size: 1rem;
}

p
{
    line-height: 35px;
    line-height: 1.842rem;
}

.profile
{
    padding-bottom: 70px;
    padding-bottom: 3.6842rem;
}

.profile ul
{
    padding: 30px 0px;
    padding: 1.5789rem 0px;
}

.profile li
{
    list-style-type:  none;
    font-size: 17.5px;
    padding: 8px 0px;
    font-size: 0.921rem;
    padding: 0.421rem 0px;
}

.name
{
    font-weight: 300;
    border: 1px solid black;
    border: 0.05253rem solid black;
    display: inline;
    padding: 2px 1.01265823%;
    background-color: #CE6343;
}

.pics
{
    margin-top: 80px;
    margin-bottom:  100px;
    margin-top: 4.21rem;
    margin-bottom:  5.263rem;
    max-width: 100%;
    //-webkit-transition: 1s ease;
    //        transition: 1s ease;
}

.home
{
    color: #ce6343;    
}

#home
{
    color: #CE6343;
    border-color: #CE6343;
}

#home:hover
{
    background-color: black;
}

.work
{
    padding-top:  30px;
    padding-top:  1.5789rem;
    color: white;
    background-color: black;
}

#work
{
     border-color: white;
}

#work:hover
{
    background-color: #8F9394;
}

#profile
{
    background-color: #CE6343;
    border: 2px solid;
    border: 0.10526rem solid;
}

#profile:hover
{
    background-color: white;
}

.contact
{
    background-color: #8F9394;
    width: 100%;
    padding: 40px 0px;
    padding: 2.10526rem 0px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.mail
{
    padding:50px 5.89622642%;
    padding:2.6315rem 5.89622642%;
}

.mail:before
{
    content: url("mail2.jpg");
    position: relative;
    top: 5px;
    top: 0.263rem;
}

#contact:hover
{
    background-color: white;
}

.img1 { 
   
    width: auto; 
    height: 0; 
    padding-top: 33%;
    background-image:   url("j1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
        //-webkit-transition: 0.5s ease;
        //    transition: 0.5s ease;
}
.img1:hover { 
    
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("d1.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
    // opacity: 0.8;                
    //-webkit-transform: scale(1.01,1.01);
    //transform: scale(1.01,1.01);
    
}

.img2 { 
   
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("j2.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
    
}
.img2:hover { 
    
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("d2.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
}

.img3 { 
   
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("j3.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
    
}
.img3:hover { 
    
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("d3.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
    
}
.img4 { 
   
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("j4.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center; 
    
}
.img4:hover 
{    
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("d4.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
}

.img5 
{    
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("j5.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
  
}

.img5:hover 
{ 
     width: auto; 
     height: 0; 
     padding-top: 33%;
     background-image:   url("d5.jpg"); 
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center;
}

.pics div
{
    border-bottom: 2px solid black;
}